<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.entry.activitystudy">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 广播权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".broadcast.BroadCastActivity"></activity>
        <activity android:name=".service.ServiceActivity" />
        <activity
            android:name=".activities.DialogActivity"
            android:theme="@style/ActivityDialog" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />

        <service
            android:name=".service.MyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.entry.activitystudy.service.MyService" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
        <!-- 广播接收器 -->
        <service android:name=".service.MyIntentService" />
        <receiver android:name=".broadcast.MyBroadcastReceiver">
            <!--这里自定义一个广播动作-->
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="test"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
