<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.entry.activitystudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".service.ServiceActivity"></activity>
        <activity
            android:name=".activities.DialogActivity"
            android:theme="@style/ActivityDialog" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />

        <service
            android:name=".service.MyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.entry.activitystudy.service.MyService" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
    </application>

</manifest>
